nav {
    background: rgb(39, 39, 39);
    color: white;
    
    border-radius: 2em;
    padding: 1em;
    align-content: center;
    justify-content: center;
}

header nav a{
    color: gold;
    font-size: 1.4em;
}

main section{
    margin-bottom: 1em;
}

nav a{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

main section nav a {
    color: aqua;
    font-size: 2em;
}

body{
    background-color: black;
    padding: 3em;
}

h1 a{
    font: 1.5em bold ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lime;
}

main{
    background: rgb(39, 39, 39);
    color: white;
    padding: 0.7em;
    border-radius: 2em;
    margin-top: 2em;
}

main section p{
    padding: 0.7em;
    border-radius: 2em;
}

footer{
    background: rgb(39, 39, 39);
    color: white;
    padding: 0.1em;
    border-radius: 1em;
    margin-top: 2em;
}

footer p{
    text-align: center;
}

section nav{
    background-color: gray;
}