
h2{
    padding-left: 0.1em;
    color: aqua;
}

header nav{
    display: flex;
}

aside {
    background-color: goldenrod;
    padding: 1em;
    border-radius: 1em;
    width: 40%;
    height: auto;
    margin: 1em;
    float: right;
    margin-top: 3em;
    border: solid;
    border-color: darkgoldenrod;
}

@media screen and (max-width: 750px){
    nav{
        display: flex;
        flex-direction: column;
    }
    aside {
        background-color: goldenrod;
        padding: 1em;
        border-radius: 1em;
        width: 85%;
        height: auto;
        margin: 1em;
        float: center;
        margin-top: 3em;
        border: solid;
        border-color: darkgoldenrod;
    }
}
aside h3{
    color: black;
}

aside img{
    width: 100%;
    height: auto;
    border-radius: 1em;

}

aside section{
    background: black;
    color: aqua;
    border-radius: 1em;
    margin-top: 1em;
    padding: 0.3em;
}

aside section h4{
    padding: 0.2em;
}

aside section dl, p{
    padding-left: 0.5em;
}

article section{
    display: flex;
    flex-wrap: wrap;
}

article figure{
    margin: 1em;
    text-align: center;
}

article img{
    height: 18em;
    width: auto;
    border: solid aqua;
    border-radius: 1em;
}

aside td{
    color: aqua;
}

aside table tr td{
    padding: 0.4em;
}
@media screen and (min-width: 1200px){
   
    aside {
        background-color: goldenrod;
        padding: 1em;
        border-radius: 1em;
        width: 30%;
        height: auto;
        margin: 1em;
        float: right;
        margin-top: 3em;
        border: solid;
        border-color: darkgoldenrod;
    }
}


